// Body elements
$body-bg: whitesmoke;

// Navbar elements
$nav-bg: white;
$nav-menu: black;
$nav-txt: white;
$nav-actv-menu: white;
$nav-actv-txt: black;
$nav-bg-menu2: grey;

$hamburger-bg: #ccc;

// Content elements
$content-bg: lightskyblue;

// Footer elements
$foot-bg: rgb(141, 41, 56);