@import 'header_content';

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    background: whitesmoke;
}
a {
    text-decoration: none;
// This makes buttons appear animated when clicked
    // &:active{
    //     transform: scale(0.98);
    // }
}


#navbar{
    top: 5px;
position: relative;
display: flex;
justify-content: space-between;
height: 60px;

min-width: 400px;
width: 95vw;
left: 2.5vw;
border-radius: 25px;
}

content{
    position: relative;
    display: grid;
}
#footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}