@import 'header_content';

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
}
a {
    text-decoration: none;
}


#navbar{
position: relative;
display: flex;
justify-content: space-between;
height: 60px;
border: 2px ridge black;
min-width: 400px;
width: 95vw;
}

content{
    position: relative;
    display: grid;
}
#footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}