#logo {
  color: purple;
  height: 60px;
  font-size: 1.5rem;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  font-weight: 700px;
  text-decoration: none;
}

.top-menu {
  padding: 0;
  margin: 0;
}

.top-menu li {
  display: block;
  background: black;
  color: white;
  list-style: none;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.top-menu li a {
  display: block;
  text-decoration: none;
}

.top-menu li a:visited, .top-menu li a:active {
  color: white;
}

.top-menu li:hover {
  background-color: white;
}

.top-menu li:hover a {
  color: black;
}

.top-menu .menu-selection li .menu-content {
  border: 1px ridge black;
  padding: 0;
  margin: 0;
}

.top-menu .menu-selection li .menu-content li {
  display: block;
  list-style: none;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.top-menu .menu-selection li .menu-content li a {
  display: block;
  text-decoration: none;
  background-color: grey;
}

.top-menu .menu-selection li .menu-content li a:visited, .top-menu .menu-selection li .menu-content li a:active {
  color: black;
}

.top-menu .menu-selection li .menu-content li:hover a {
  background-color: black;
  color: white;
}

@media screen and (max-width: 699px) {
  #navbar {
    border: none;
  }
  #menu-toggle {
    display: block;
    top: 5px;
    right: 5px;
    padding: 0px 20px;
    margin-left: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background: #ccc;
    line-height: 60px;
    border: .5px solid black;
    border-radius: 5px;
    z-index: 3;
  }
  .top-menu {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
    position: relative;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    height: 100vh;
    z-index: 1;
  }
  .top-menu .menu-selection {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 60px 120px 60px;
        grid-template-rows: 60px 120px 60px;
    padding: 0;
    margin: 0;
    gap: 5px 0px;
    position: absolute;
    width: 100%;
    border: 1px solid black;
  }
  .top-menu .menu-selection::after {
    content: ' Social Media ';
    width: 100%;
    height: 20px;
    background-color: white;
  }
  .top-menu .menu-selection li {
    width: 100%;
    display: -ms-grid;
    display: grid;
  }
  .top-menu .menu-selection li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 100%;
  }
  .top-menu .menu-selection li .menu-content {
    height: 75px;
  }
  .top-menu .menu-selection li .menu-content li a {
    margin: 0;
    height: 25px;
    border: 1px ridge rgba(0, 0, 0, 0.5);
  }
  .active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: 250ms ease-out;
    transition: 250ms ease-out;
    -webkit-box-shadow: 0 0 0 25vw rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 0 25vw rgba(0, 0, 0, 0.4);
  }
  .hidden {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 250ms ease-in;
    transition: 250ms ease-in;
  }
}

@media screen and (min-width: 700px) {
  #navbar {
    border: 2px ridge black;
  }
  #menu-toggle {
    display: none;
  }
  .top-menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-menu .menu-selection {
    border-radius: 0px 25px 25px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
  }
  .top-menu .menu-selection li {
    position: relative;
    width: 120px;
  }
  .top-menu .menu-selection li .menu-content {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-menu .menu-selection li .menu-content li {
    display: none;
  }
  .top-menu .menu-selection li:hover .menu-content li, .top-menu .menu-selection li:active .menu-content li, .top-menu .menu-selection li:focus-within .menu-content li {
    display: block;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .top-menu .menu-selection li:hover .menu-content li a, .top-menu .menu-selection li:active .menu-content li a, .top-menu .menu-selection li:focus-within .menu-content li a {
    display: block;
  }
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  overflow: hidden;
  background: whitesmoke;
}

a {
  text-decoration: none;
}

#navbar {
  top: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  min-width: 400px;
  width: 95vw;
  left: 2.5vw;
  border-radius: 25px;
}

content {
  position: relative;
  display: -ms-grid;
  display: grid;
}

#footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */